*{
    padding: 0;
    margin: 0;
}

header{
    background-color: blue;
}


h1{
    text-align: center;
    padding: 10px;

}


form{
    background-color:aliceblue ;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    padding: 30px;
}

.input{
    margin-bottom: 15px;
}

textarea{
    width: 400px;
    height: 250px;
    resize: none;
}
@media screen and(max-width:300px){
    body{
        background-color: blue;
    
    }
    form, textarea{
        width: 100%;
    }

    
}

