.container{
    width: 80%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    margin: auto;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items:flex-start;
    
    


}


.container p{
    background-color: pink;
    margin: 3px;
}

.order1{
    order: 1;
}

.grow1{
    flex-grow: 1;
}

.grow2{
    flex-grow: 2;
}

.basis0{
    flex-basis: 0;
}

.basis200{
    flex-basis: 200px;
}

.shrink0{
    flex-shrink: 0;
}


/*
shorthand "Flex" - na ordem
flex grow
flex shrink
flex basis*/

.flex{
    flex: 1 1 300px;
}


